body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(../Resources/prdashboard.png) no-repeat center center fixed;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
     background-size: 100% 100%; 
    font-family: 'Arial', sans-serif;
} 

.background-image {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: url(../Resources/Sponsorship.png) no-repeat center center fixed; */
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    /* background-size: 100% 100%; */
}

.button-container {
    position: absolute; /* or use relative, fixed, etc. based on your needs */
    top: 27.5%;
    left: 9.5%;
}


.button {
    display: block;
    margin: 10px;
    padding: 15px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 300px;
    background-color: #3498db; /* You can customize the button color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9; /* You can customize the button hover color */
}
